* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* shered-style */
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900px;
}
.orange {
  color: orangered;
  font-weight: 900px;
}
/* main-style */
header {
  background-color: #fff8f3;
  background: url("../images/developer.png"),
    url("images/header_bg.png") #fff8f3;
  background-position: top left, bottom right;
  background-size: 100px 550px, 800px 500px;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.bg {
}
nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}
nav .menu a {
  font-size: 20px;
  text-decoration: none;
}
.btn {
  size: 25px;
  color: #fff8f3;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  padding: 18px 35px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: paleturquoise;
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#banner {
  margin: 47px 38px 0px 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 71px;
}
.banner-image {
  bottom: 0px;
  right: 0px;
  width: 430px;
}

#bannner .banner-contant {
  max-width: 585px;
}
#banner .banner-contant h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-contant h2 {
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-contant p {
  font-size: 18px;
  color: 757575;
  line-height: 30px;
}

.about {
  max-width: 1140px;
  background-color: #fff8f3;
  margin: 50px auto;
  padding: 100px 50px;
  line-height: 30px;
}
.about h1 {
  text-align: center;
  margin-bottom: 25px;
}

.contact {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-top: 30px;
}
.contact-p {
  font-weight: bold;
}
.about2 {
  margin-top: 161px;
  max-width: 1140px;
  margin: 50px auto;
  padding: 100px 50px;
}
.about2 h1 {
  text-align: center;
}

.content-card {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.card-content {
  box-shadow: 0px 5px 20px #0000009c;
  border-radius: 7px;
  margin-top: 71px;
  padding: 20px;
}
.edu-container {
  max-width: 1140px;
  display: flex;
  gap: 50px;
  text-align: center;
}
.edu-section h1 {
  text-align: center;
  margin-bottom: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.edu {
  line-height: 30px;
  margin: 30px;
}

.edu-section {
  max-width: 1140px;
  margin: 0px auto;
}
hr {
  margin-top: 20px;
}

.new-btn1 {
  align-items: center;
}
